@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

html {
	box-sizing: border-box;
}

body {
}

div {
	border: 1px dashed red;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	display: flex;
}

li {
	padding-right: 20px;
}

/* Navigation */
.main-manu {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}

.menu-bar {
	text-align: center;
}

/* Service */
.section-header {
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 35px;
	text-transform: uppercase;
}

.services {
	/* display: flex; */
	/* flex-direction: row; */
}
.service-logo {
	height: 200px;
}
#services-list {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

/* timeline table  */
.timeine {
	margin-left: auto;
	margin-right: auto;
	border: solid 2px blue;
	margin-top: 20px;
	font-family: Trirong;
	font-weight: bold;
}
.timeine caption {
	font-size: 20px;
	text-transform: uppercase;
}
.timeine th,
td {
	text-align: center;
	color: darkblue;
	border: 0.75px double brown;
	padding: 10px;
}

/* Contact form  */

.contact-us form {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.contact-us form fieldset {
	width: 500px;
}
.contact-us form fieldset label {
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	height: 75px;
	background-color: rgb(26, 25, 24);
	color: aliceblue;
	text-align: center;
	margin-top: 30px;
	vertical-align: middle;
}
.intro-video {
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
footer a {
	text-decoration: none;
}
