body {
	background: rgb(0, 36, 32);
	background: linear-gradient(
		90deg,
		rgba(0, 36, 32, 0.5410539215686274) 0%,
		rgba(9, 121, 82, 0.3561799719887955) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}
h1 {
	font-size: 3em;
	text-align: center;
}
.container {
	width: 50%;
	margin: 0 auto;
}

fieldset {
	text-align: center;
}
fieldset legend {
	font-size: 2em;
	font-weight: 700;
}
fieldset label {
	font-size: 1.2rem;
	padding-bottom: 10px;
}
fieldset input {
	width: auto;
	height: 20px;
	margin: 0 auto;
	border: saddlebrown double 1px;
	box-shadow: inset;
	text-align: center;
}

fieldset label,
fieldset input {
	display: block;
}

#male,
#female,
#gender {
	display: inline-block;
}

#male span,
#female span {
	padding: 0 0 0 10px;
}
